.navigation{
    width: 100%;
    position: relative;
    min-height: 60px;
    z-index: 1000;
}
#navbarNav{
    justify-content: flex-end;
}
.navbar-brand{
    color: rgb(40, 137, 203) !important;
    font-size: 2rem;
    
}
.navbar-light, .navbar-nav, .nav-link{
    color: #333;
    font-weight: 600;
    padding-left: 1.2rem !important;
    padding-right: 1.2rem !important;
}
/* Buttons */
.btn{
    background-color: rgb(40, 173, 203) !important;
    border-radius: 2rem;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    color: white !important;
    border: none;
}
/* Banner */
.banner{
    background-color: rgb(189, 216, 244);
}
/* About */
#about{
    background-color: rgb(189, 216, 244) !important;
}
.card{
    border: none;
    box-shadow: 0 4px 8px 0;
}
/* Contact */
#contact{
    background-color: rgb(189, 216, 244);
}
#contact .card{
    background-color:rgb(208, 230, 240);
}